.price {
    padding-top: 60px;
    &__wrapper {
        display: grid;
        grid-template: repeat(3, 44px) / repeat(2, 370px);
        justify-content: space-between;
        align-content: space-between;
    }
}